body {
  margin:0px;
  background-color:rgba(245, 247, 253, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1580px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u393 {
  position:fixed;
  left:0px;
  top:0px;
  width:1580px;
  height:35px;
}
#u393_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1580px;
  height:35px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 3px 5px rgba(0, 0, 0, 0.0470588235294118);
  -webkit-box-shadow:0px 3px 5px rgba(0, 0, 0, 0.0470588235294118);
  box-shadow:0px 3px 5px rgba(0, 0, 0, 0.0470588235294118);
}
#u393_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u394 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:37px;
  display:flex;
  text-align:left;
}
#u394 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u394_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u395 {
  position:fixed;
  right:0px;
  top:1px;
}
#u395_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u395_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u397 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  display:flex;
}
#u398 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u398_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:23px;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:6px;
  width:20px;
  height:23px;
  display:flex;
}
#u399 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u399_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u400 {
  position:fixed;
  right:0px;
  top:35px;
  width:169px;
  height:289px;
  visibility:hidden;
}
#u400_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:289px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u400_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:282px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.0980392156862745);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.0980392156862745);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.0980392156862745);
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:22px;
}
#u401 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:160px;
  height:282px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:22px;
}
#u401 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u401_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u402 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u403_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u403 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:4px;
  width:145px;
  height:37px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u403 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 40px;
  box-sizing:border-box;
  width:100%;
}
#u403_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u403.mouseOver {
}
#u403_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u403.selected {
}
#u403_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:13px;
  width:21px;
  height:20px;
  display:flex;
}
#u404 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u404_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:41px;
  width:145px;
  height:37px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u406 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 40px;
  box-sizing:border-box;
  width:100%;
}
#u406_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u406.mouseOver {
}
#u406_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u406.selected {
}
#u406_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:50px;
  width:21px;
  height:20px;
  display:flex;
}
#u407 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u407_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u408 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u409 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:78px;
  width:145px;
  height:37px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u409 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 40px;
  box-sizing:border-box;
  width:100%;
}
#u409_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u409.mouseOver {
}
#u409_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u409.selected {
}
#u409_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u410 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:88px;
  width:21px;
  height:20px;
  display:flex;
}
#u410 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u410_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u411 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u412_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:122px;
  width:145px;
  height:37px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u412 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 40px;
  box-sizing:border-box;
  width:100%;
}
#u412_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u412.mouseOver {
}
#u412_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u412.selected {
}
#u412_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:132px;
  width:21px;
  height:20px;
  display:flex;
}
#u413 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u413_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:160px;
  width:145px;
  height:37px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u415 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 40px;
  box-sizing:border-box;
  width:100%;
}
#u415_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u415.mouseOver {
}
#u415_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u415.selected {
}
#u415_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:169px;
  width:21px;
  height:20px;
  display:flex;
}
#u416 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u416_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:206px;
  width:145px;
  height:37px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u418 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 40px;
  box-sizing:border-box;
  width:100%;
}
#u418_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u418.mouseOver {
}
#u418_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u418.selected {
}
#u418_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:215px;
  width:21px;
  height:20px;
  display:flex;
}
#u419 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u419_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:243px;
  width:145px;
  height:37px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u421 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 40px;
  box-sizing:border-box;
  width:100%;
}
#u421_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u421.mouseOver {
}
#u421_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u421.selected {
}
#u421_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:252px;
  width:21px;
  height:20px;
  display:flex;
}
#u422 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u422_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:2px;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:118px;
  width:160px;
  height:1px;
  display:flex;
}
#u423 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u423_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:2px;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:201px;
  width:160px;
  height:1px;
  display:flex;
}
#u424 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u424_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
